.coming {
    text-align: center;
    color: white;
    font-size: 4em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    animation-name: soon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes soon {
    0% {color: greenyellow;}
    25% {color: aqua;}
    50% {color: deeppink;}
    75% {color: mediumspringgreen;}
    100% {color: yellow;}
}

.thumbnail {
    justify-content: center;
    padding: 15px;
}

.mfg {
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: double;
}

@media only screen and (max-width: 768px) {
    .mfg {
        width: 100%;
        height: auto;
    }
}