*{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    padding: 0;
}

html {
    font-family: "garamond", sans-serif;
    min-width: 100%;
}

body {

    background: url("../img/greenthings2.jpg") no-repeat;
    background-size: cover;
}

p {
    background-color: black;
}

.flex {
    display: flex;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-05 {width: 4.5%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    [class*="navcont"] {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1099.99px) {
    .col-m-05 {width: 4.5%;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    .col-s-05 {width: 4.5%;}
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

.page-header {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: larger;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.page-header li {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
}

.page-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
   
}

.page-header li a:hover {
    background-color: #0a6200;
    border-radius: 15px;
    animation: flip 1s;
    transform-origin: center;
}

@keyframes flip {
    0%, 100% {
        transform: rotateZ(0deg) scale(1);
    }

    33% {
        transform: rotateZ(45deg) scale(1.1);
        color: limegreen;
    }

    66% {
        transform: rotateZ(-45deg) scale(1.1);
        color: aqua;
    }
}

@media only screen and (max-width: 1100px) {
    .page-header li a:hover {
        animation-play-state: paused;
    }
}

.main-logo {
    display: inline;
    float: left;
    padding: 14px 16px;
}

.homeicon {
    width: 70px;
    height: auto;
    border-radius: 15px;
}

.menuIcon {
    display: none;
    margin-top: 14px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 8px;
    background-color: white;
    margin-top: 7px;
    margin-right: 10px;
    display: block;
    transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    .page-header li {
        display: none;
    }
    .menuIcon {
        float: right;
        display: inline;
        position: fixed;
        right: 0;
        top: 0;
    }
    .change .bar1 {
        transform: translateY(15px) rotate(-46deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translateY(-15px) rotate(46deg);
    }

}
  
@media only screen and (max-width: 768px) {
    .responsive li {
        display: block !important;
        margin: 0;
        width: 100%;
        float: none;
        padding: 0;
    }
    .responsive li a {
        text-align: center;
        width: 100%;
        margin: 0.5px;
        background-color: rgb(0, 0, 0);
        border-color: white;
        border-style: solid;
    }
    .responsive .nav-items{
        display: block;
        position: fixed;
        width: 100%;
    }
}

.nav-left {
    list-style-type: none;
    float: none;
    position: fixed;
    height: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.giticon {
    width: 3em;
    height: auto;
    transition: transform 0.3s;
}

.giticon:hover {
    transform: scale(1.5);
}

.linkicon {
    width: 3em;
    height: auto;
    transition: transform 0.3s;
}

.linkicon:hover {
    transform: scale(1.5);
}

.main {
    padding-top: 8rem;
}

.name{
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

.intro {
    font-size: 2em;
    text-align: center;
}

.intro p {
    padding-bottom: 15px;
}

.picture-container {
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}

.picture img {
    width: 300px;
    height: 485px;
    object-fit: cover;
    border-radius: 10px;
}

.active{
    background-color: #0a6200 !important;
    border-radius: 15px;
}

.miniSocial {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .miniSocial {
        display: block;
        margin: auto;
        text-align: center;
    }

    .miniGit {
        display: inline-block;
        margin: 10px;
    }

    .minilink {
        display: inline-block;
        margin: 10px;
    }
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: limegreen;
    width: 100%;
}

.heart {
    display: inline-block;
    animation: beat 2s infinite;
    transform-origin: center;
}

@keyframes beat{
	0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.0);
    }
    75% {
        transform: scale(1.6);
    }
}

.thumb {
    display: inline-block;
    animation: thumbsUP 2s infinite;
}

@keyframes thumbsUP {
    0%, 100% {
        transform: rotateZ(0deg);
    }

    33% {
        transform: rotateZ(-45deg);
    }

    66% {
        transform: rotateZ(45deg);
    }
}



