*{
    box-sizing: border-box;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html {
    font-family: "garamond", sans-serif;
    background: url("../img/greenthings2.jpg") no-repeat;
    background-size: cover;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-05 {width: 4.5%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    [class*="nav-left"] {
        display: none;
    }
}

.header {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: larger;
    position: fixed;
    width: 100%;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #0a6200b1;
    border-radius: 15px;
}

.homeicon {
    width: 70px;
    height: auto;
    border-radius: 15px;
}


.link {
    margin-top: 10px;
    margin-left: 10px;
}

.hamburger-icon {
    display: none;
    font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
    .header li:not(.main-logo) {display: none;}
    .header li.hamburger-icon {
      float: right;
      display: block !important;
    }
}
  
@media screen and (max-width: 768px) {
    .header.responsive {position: relative;}
    .header.responsive .hamburger-icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    .header.responsive .link {
      float: none;
      display: block !important;
      align-items: center;
      margin-left: 0;
    }
    .header.responsive .homeicon {
        float: none;
        display: block !important;
        text-align: center;
        position: fixed;
    }
    .header.responsive .nav-items{
        margin-top: 3rem;
        position: fixed;
        width: 100%;
    }
}

.nav-left {
    list-style-type: none;
    float: none;
    position: fixed;
    height: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.giticon {
    width: 3em;
    height: auto;
    transition: transform 0.3s;
}

.giticon:hover {
    transform: scale(1.5);
}

.linkicon {
    width: 3em;
    height: auto;
    transition: transform 0.3s;
}

.linkicon:hover {
    transform: scale(1.5);
}

.main {
    padding-top: 100px;
}

.name{
    text-align: center;
    font-size: 3em;
}

.intro {
    font-size: 2em;
    text-align: center;
}

.active{
    background-color: #0a6200b1;
    border-radius: 15px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: limegreen;
    width: 100%;
}

.heart {
    display: inline-block;
    animation: beat 2s infinite;
    transform-origin: center;
}

@keyframes beat{
	0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.0);
    }
    75% {
        transform: scale(1.6);
    }
}

.thumb {
    display: inline-block;
    animation: thumbsUP 2s infinite;
}

@keyframes thumbsUP {
    0%, 100% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-45deg);
    }
}



